<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Моя подорож світом - Мої подорожі</title>
		<link
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<header>
			<a class="navbar-brand" href="/">Моя подорож світом</a>
		</header>

		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarNav"
				aria-controls="navbarNav"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Всі подорожі</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/booked_tours">Мої подорожі</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add_tour">Створити подорож</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container mt-4">
			<h2 class="text-center">Мої заплановані пригоди</h2>

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Назва подорожі</th>
						<th>ПІБ</th>
						<th>Дата</th>
					</tr>
				</thead>
				<tbody>
					{% for booked_tour in booked_tours %}
					<tr>
						<td>{{ booked_tour.tour.title }}</td>
						<td>{{ booked_tour.surname }} {{ booked_tour.name }}</td>
						<td>{{ booked_tour.date }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>
